### NPM Generated data
/node_modules/*
node_modules/*
lib
coverage

### IntelliJ IDEA ###
!.idea/
.idea/*
!.idea/codeStyles
!.idea/inspectionProfiles
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata

### VSCode ###
.vscode

### VIM ###
*.swp
*.swo

## logs
*.log
*.lck
