.button {
  outline:            none;
  -webkit-appearance: none;
  border:             none;
  border-radius:      $border-radius;
  min-height:         40px;
  padding:            $space-sm $space-md;

  &.primary {
    background: $primary;
    color:      white;
  }
}

input {
  outline:            none;
  -webkit-appearance: none;
  border:             1px $separator solid;
  border-radius:      $border-radius;
  padding:            $space-sm $space-md;
}

.field-group {
  label {
    h5 {
      margin-top:    $space-xs;
      margin-bottom: $space-xs;
    }
  }
}
