.header {
  display:       flex;
  padding:       $space-lg;
  width:         100%;
  text-align:    center;
  color:         $textColor;
  align-content: center;
  align-items:   center;
  background:    $separator;

  .title {
    margin:    0 auto;
    cursor:    pointer;
    font-size: 1.5em;
  }
}

.toolbar {
  display:         flex;
  flex-direction:  row;
  padding:         $space-md $space-lg;
  width:           100%;
  color:           $textColor;
  background:      $separator;
  margin-bottom:   $space-xl;
  align-content:   flex-start;
  align-items:     center;
  justify-content: center;


  form {
    display:        flex;
    flex-direction: row;
  }

  .field-group, button {
    margin: 0 $space-md;
  }
}

.content {
  display:   flex;
  flex-flow: column wrap;
  margin:    20px;

  .label {
    display:         flex;
    justify-content: center;
  }
}

.py-md {
  padding-bottom: $space-md;
  padding-top:    $space-md
}

.my-md {
  margin-bottom: $space-md;
  margin-top:    $space-md
}
