@import './normalize.min.css';
@import 'variables';

* {
  font-family: sans-serif;
}

body {
  display:    flex;
  flex-flow:  column wrap;
  background: #F5F5F5;
}

@import 'layout';
@import 'form';
