$background: #F5F5F5;
$textColor:  #333333;
$separator:  #D5D5D5;

$primary: #DE3249;

$space_base: 12px;

$space-xs:   $space_base / 3;
$space-sm:   $space_base / 1.5;
$space-md:   $space_base;
$space-lg:   $space_base*1.5;
$space-xl:   $space_base*3;
$border-radius: 5px;
